In [1]:
#import pandas library for data manipulation and import data
import pandas as pd
#import regular expresion library
import re
from nltk.corpus import wordnet
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.tokenize import RegexpTokenizer
from nltk.tokenize import TweetTokenizer
#Loading the DataSet
data1 = pd.read_csv('C:/Users/ANIS Saadaoui/stbpage1.csv',sep=';',encoding="utf-8")
#Deleting unnecessary rows
data1.drop(data1.index[(data1['object_id']=='SocieteTunisiennedeBanquePageOfficielle')],axis=0,inplace=True)
data1.drop(data1.index[(data1['level']==1)],axis=0,inplace=True)
#Deleting unnecessary Columns
df1=data1.filter(['object_id','message','created_time'], axis=1)
# to display the first 5 lines of loaded data
df1.head()

C:\Users\ANIS Saadaoui\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (2,11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,object_id,message,created_time
1197,1705140629671497_1705140983004795,مبرووك لكل الناجحين,2021-07-02T10:45:16+0000
1198,1705140629671497_1705147779670782,مبروك لكل الناجحين🥰,2021-07-02T10:59:18+0000
1199,1705140629671497_1705153456336881,Congratulations,2021-07-02T11:09:45+0000
1200,1705140629671497_1705269076325319,NaN,2021-07-02T14:20:03+0000
1201,1705140629671497_1705271162991777,نهار الاثنين مسكرين؟,2021-07-02T14:23:48+0000

In [2]:
#find the number of null value in each row
df1.isna().sum()

object_id           0
message         24521
created_time    18782
dtype: int64

In [3]:
#delele all line of dataset when we find null value
df1=df1.fillna({'message':0,'object_id':0})
df1.drop(df1.index[(df1['object_id']==0)],axis=0,inplace=True)
df1.drop(df1.index[(df1['message']==0)],axis=0,inplace=True)

In [4]:
#verification for deleting null value
df1.isna().sum()

object_id       0
message         0
created_time    0
dtype: int64

In [5]:
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.tokenize import TweetTokenizer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import RegexpTokenizer

In [6]:
#remove stopword in english text
all_stopwords_en = stopwords.words('english')
def remove_mystopwords_en(sentence):
#      tknzr = TweetTokenizer()
    tk=TweetTokenizer() 
    text_tokens = tk.tokenize(sentence)
    tokens_filtered= [word.lower() for word in text_tokens if not word in all_stopwords_en]
    return (" ").join(tokens_filtered)
#remove stopword in fench text
all_stopwords_fr = stopwords.words('french')
def remove_mystopwords_fr(sentence):
    tk=TweetTokenizer() 
    text_tokens = tk.tokenize(sentence)
    tokens_filtered= [word.lower() for word in text_tokens if not word in all_stopwords_fr]
    return (" ").join(tokens_filtered)
all_stopwords_ar = stopwords.words('arabic')
#remove stopword in arabic text
def remove_mystopwords_ar(sentence):
    tk=TweetTokenizer() 
    text_tokens = tk.tokenize(sentence)
#     text_tokens = TweetTokenizer(sentence)
    tokens_filtered= [word.lower() for word in text_tokens if not word in all_stopwords_ar]
    return (" ").join(tokens_filtered)

In [7]:
#apply fonction remove_mystopwords in all rows
df1['message'] = df1['message'].apply(remove_mystopwords_en)
df1['message'] = df1['message'].apply(remove_mystopwords_fr)
df1['message'] = df1['message'].apply(remove_mystopwords_ar)

In [9]:
from nltk.tokenize import TweetTokenizer
posts1=df1
categorie={'crédit':['credit','loan','loans','crédit','قصاص','قروض','قرض'],'distributeur':['dab','gab','distributeur','distributer'],'service':['service','services','خدمات']}
#for i in range(0,len(categorie)):

i=0
    
#while i < len(categorie) :
for i in categorie:
    def findword(text):
        tk=TweetTokenizer() 
        text_tokens = tk.tokenize(text)
        for text_token in text_tokens:
            if word==text_token:
                return i
            else:
                return ''
#     word=categorie[i]
    for m in categorie[i]:
        word=m
        b='dff'+str(i)
        b=df1
        
        b['categoriee']=b['message'].apply(lambda text:findword(text))
        posts1=posts1.append(b)
        
posts1 = posts1.drop_duplicates()

In [10]:
posts1[posts1['categoriee']=='distributeur']

,object_id,message,created_time,categoriee
64104,1018394635012770_1020788014773432,dab toujours hors service fi jendouba,2019-03-19T16:12:36+0000,distributeur
38692,1528589803993248_1528643780654517,gab mta 3 stb gassrin fr8 hhh,2020-11-19T16:56:52+0000,distributeur
43123,1406660072852889_1407841782734718,gab poste maria 3liya 200 dinars wena majbetho...,2020-07-03T21:29:45+0000,distributeur
63172,1071434449708788_1074408882744678,gab fonctionne comme var rades panne,2019-06-04T01:02:25+0000,distributeur
112015,593607154158189_595070597345178,gab stb nasrya sfax dima panne,2017-01-07T23:35:47+0000,distributeur
43179,1406660072852889_1407883426063887,distributeur stb toujours indisponible تمددوا ...,2020-07-03T22:59:25+0000,distributeur
51530,1322861594566071_1323268611192036,distributeur menzel bourguiba plupart temps pa...,2020-03-25T08:06:11+0000,distributeur
57369,1239083599610538_1239223906263174,distributeur mtaa agence ben arous yemchich,2019-12-19T18:14:21+0000,distributeur

In [11]:
posts1[posts1['object_id']=='1322861594566071_1323268611192036']

,object_id,message,created_time,categoriee
51530,1322861594566071_1323268611192036,distributeur menzel bourguiba plupart temps pa...,2020-03-25T08:06:11+0000,
51530,1322861594566071_1323268611192036,distributeur menzel bourguiba plupart temps pa...,2020-03-25T08:06:11+0000,distributeur

In [12]:
posts1=posts1.reset_index()

In [13]:
for id1 in posts1['object_id'].unique():
    if (posts1['object_id']==id1).sum()>1:
        posts1.drop(posts1[(posts1['object_id']==id1) & (posts1['categoriee']=='')].index,axis=0,inplace=True)

In [14]:
posts1[posts1['categoriee']=='distributeur'].head(50)

,index,object_id,message,created_time,categoriee
63980,64104,1018394635012770_1020788014773432,dab toujours hors service fi jendouba,2019-03-19T16:12:36+0000,distributeur
63981,38692,1528589803993248_1528643780654517,gab mta 3 stb gassrin fr8 hhh,2020-11-19T16:56:52+0000,distributeur
63982,43123,1406660072852889_1407841782734718,gab poste maria 3liya 200 dinars wena majbetho...,2020-07-03T21:29:45+0000,distributeur
63983,63172,1071434449708788_1074408882744678,gab fonctionne comme var rades panne,2019-06-04T01:02:25+0000,distributeur
63984,112015,593607154158189_595070597345178,gab stb nasrya sfax dima panne,2017-01-07T23:35:47+0000,distributeur
63985,43179,1406660072852889_1407883426063887,distributeur stb toujours indisponible تمددوا ...,2020-07-03T22:59:25+0000,distributeur
63986,51530,1322861594566071_1323268611192036,distributeur menzel bourguiba plupart temps pa...,2020-03-25T08:06:11+0000,distributeur
63987,57369,1239083599610538_1239223906263174,distributeur mtaa agence ben arous yemchich,2019-12-19T18:14:21+0000,distributeur

In [15]:
posts2=posts1
sentiment={'neg':['ma3jebnich','mayemchich''maymchich','ميمشيش','قصاص','may5demch','ميخدمش'],'pos':['3jebni','ta7foun']}
#for i in range(0,len(categorie)):
i=0
#while i < len(categorie) :
for i in sentiment:
    def findword(text):
            if word in text:
                return i
            else:
                return ''
#     word=categorie[i]
    for m in sentiment[i]:
        word=m
        b='dff'+str(i)
        b=posts1
        
        b['sentiment']=b['message'].apply(lambda text:findword(text))
        posts2=posts2.append(b)
        
posts2 = posts2.drop_duplicates()

In [16]:
posts2[posts2['sentiment']=='neg']

,index,object_id,message,created_time,categoriee,sentiment
25042,28621,1622383734613854_473617970492461,رابط ميمشيش واللي يتحل يلقى روحو مسجل قبل ياخي...,2021-03-17T12:03:32+0000,,neg
416,1680,1698574006994826_1698579056994321,مبروك بانكتي الغالية التتويج تلو التتويج . اما...,2021-06-23T15:39:05+0000,,neg
433,1699,1698574006994826_1698701573648736,zoubeida mahmoud مالة باش امفولة عندها بالفلس ...,2021-06-23T19:43:16+0000,,neg
438,1706,1698574006994826_1698759000309660,غريبة والله ... بانكة كالمنشار طالعة هابطة قصا...,2021-06-23T21:38:22+0000,,neg
665,1968,1698574006994826_1701010970084463,reclamation : stb bank الشركة التونسية للبنك أ...,2021-06-26T23:51:11+0000,,neg
...,...,...,...,...,...,...
60326,108247,811700735682162_1508035892715306,نحب ناخذ 40000dt لمشروع تجاري . كيفاه الاجراءا...,2020-10-27T20:00:09+0000,,neg
60350,108273,811700735682162_1542212895964272,نحب قرض 5ملاين 5 سنوات قداش قصاص و قداش انتيريس,2020-12-06T13:10:09+0000,,neg
61191,109252,740077216177848_740147619504141,الأقصاص زادت و الحمد لله ههه,2017-12-06T16:07:10+0000,,neg
63899,47931,1341480929370804_1342388832613347,قصاص 31,2020-04-16T12:00:17+0000,crédit,neg
55548,63181,1071434449708788_1074633629388870,كحتى انا ميخدمش عندي,2019-06-04T09:18:59+0000,,neg

In [17]:
posts2=posts2.reset_index()

In [18]:
for id1 in posts2['object_id'].unique():
    if (posts2['object_id']==id1).sum()>1:
        posts2.drop(posts2[(posts2['object_id']==id1) & (posts2['sentiment']=='')].index,axis=0,inplace=True)

In [19]:
posts2[posts2['object_id']=='1622383734613854_473617970492461']

,level_0,index,object_id,message,created_time,categoriee,sentiment
63643,25042,28621,1622383734613854_473617970492461,رابط ميمشيش واللي يتحل يلقى روحو مسجل قبل ياخي...,2021-03-17T12:03:32+0000,,neg

In [20]:
posts2

,level_0,index,object_id,message,created_time,categoriee,sentiment
0,0,1197,1705140629671497_1705140983004795,مبرووك لكل الناجحين,2021-07-02T10:45:16+0000,,
1,1,1198,1705140629671497_1705147779670782,مبروك لكل الناجحين 🥰,2021-07-02T10:59:18+0000,,
2,2,1199,1705140629671497_1705153456336881,congratulations,2021-07-02T11:09:45+0000,,
3,3,1201,1705140629671497_1705271162991777,نهار الاثنين مسكرين ؟,2021-07-02T14:23:48+0000,,
4,4,1202,1705140629671497_1705280802990813,كان ترى فرحة الgab وقت تسمع صوت فلوس 🙊 🙊 😝 😝 😝,2021-07-02T14:41:08+0000,,
...,...,...,...,...,...,...,...
63924,55548,63181,1071434449708788_1074633629388870,كحتى انا ميخدمش عندي,2019-06-04T09:18:59+0000,,neg
63925,48814,55526,1266358056883092_214447689565106,noureddine madi yezzi ble ta7lib ya noura hhhh...,2020-01-15T16:24:54+0000,,pos
63926,53327,60670,1110513869134179_1112681918917374,3jebni ken el community manager ena,2019-07-22T10:25:48+0000,,pos
63927,55807,63473,1060209400831293_1060574107461489,ghazi abidi 3jebni l'admin 🤣 😂 🤣 😂 🤣 😂,2019-05-16T20:07:03+0000,,pos
63928,58644,106296,945996322252602_947358722116362,eni na3ref groupe d5al w 3andhom 7ata fil stb ...,2018-11-17T18:46:35+0000,,pos